@page "/"

<PageTitle>HealthPort | Home</PageTitle>

<h1 class="page_header">Welcome to the registration portal to the hospital</h1>
<div class="page_content">If You want to visit a doctor please go to the "Booking" page<p></p></div>

<div class="page_content"><p>If You want to visit a doctor please go to the "<a href="/booking">Booking</a>" page </p></div>
      